html,
body,
main {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.bg-text-overlay {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-image: url(https://drive.google.com/uc?export=view&id=1rQ9MlGeqBj8Zh7e_dDDE9KRQ1gtmRMqq);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 75%;
}

.title-container {
	display: inline-flex;
	flex-direction: column;
	height: fit-content;
}

.title {
	font-size: 84px;
	font-weight: 700;
	font-style: normal;
	display: block;
	text-transform: uppercase;
	color: white;
	position: relative;
	margin: 0;
	line-height: 0.8;
	padding-bottom: 16px;
}

.title:before {
	content: "";
	position: absolute;
	width: 25%;
	height: 5px;
	bottom: 0;
	left: 0;
	border-bottom: 5px solid white;
}

.title:after {
	content: "";
	position: absolute;
	width: 60%;
	height: 85%;
	bottom: -4px;
	right: -15%;
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: soft-light;
}

.subtitle {
	font-size: 32px;
	font-family: "Roboto Slab";
	display: inline-block;
	text-align: center;
	text-transform: lowercase;
	font-style: normal;
	color: white;
	position: relative;
	line-height: 1;
	text-align: left;
	margin-top: 6px;
	margin-left: 48px;
}

.paragraph-cont > h1 {
	font-family: "Martel";
	font-weight: 700;
	line-height: 1.4;
	margin: 0;
}

.paragraph-cont > p {
	font-family: "Martel";
	display: inline-block;
	margin: 0;
}

.card {
	display: flex;
	flex-direction: row;
	margin: 24px;
	position: absolute;
	width: 80%;
	top: 60%;
}

.card-img {
	flex-shrink: 0;
	align-self: center;
	margin-right: 16px;
	height: auto;
	width: 150px;
}

.circle {
	position: absolute;
	right: 64px;
	bottom: 21%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: green;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
